@import "colors.css";

.menuItemsContainer{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 4rem;
}

.menuContainer{
  vertical-align: middle;
  background-color: var(--menuBackground);
  width: 100%;
}

.menuItemContainer{
  vertical-align: middle;
  display: inline-block;
}

.menuItem{
  display:flex;
  align-items:center;
  background-color: black;
  margin-right: 4px;
  margin-bottom: 2rem;
  border: 1px solid #fff;
  padding: 1rem;
  color: var(--menu-text-color);
  text-decoration: none;
}